:root {
    --main-color: gray;
    --color-text: white;
    --color-fon: coral;
    --zagolovki: 27px;
    --bth: black;
}

@mixin rounded-corners($radius) {
    border-radius: $radius;
}

body {
    background-color: var(--main-color);
    color: var(--color-text);
}

h1 {
    font-size: var(--zagolovki);
}

header {
    background-color: var(--color-text);
    border-radius: 20px;

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 25px;
            justify-content: center;
        }

        li {
            display: inline-block;
            transform: translateY(-55%);
            background-color: var(--color-fon);
            padding: 14px;
            @include rounded-corners(20px);

            &:hover {
                background-color: var(--main-color);
            }
        }

        a {
            text-decoration: none;
            color: var(--color-text);
            font-weight: 700;
        }
    }
}

.btn {
    background-color: var(--color-text);
    padding: 10px;
    transition: all 0.4s;
    @include rounded-corners(20px);

    &:hover {
        background-color: var(--color-fon);
    }
}